<header>
    <nav class="navbar navbar-expand-md fixed-top bg-light">
        <a href="#"  class="navbar-brand">
            <img class="logo" src="../../assets/qalogo.svg" alt="QA Cinemas">
        </a>
        <button class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link">Home</a>
                <li class="nav-item">
                    <a href="#Schedule" class="nav-link">Schedule</a>
                </li>
            </ul>
            <button type="button" class="btn btn-primary float-right">Sign up</button>
        </div>
    </nav>
</header>