<img src="../../assets/popcorn.jpeg" class="img-fluid">
<div class="container">
    <div class="row">
        <div class="col-xl">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Magna etiam tempor orci eu lobortis 
                elementum nibh. Consequat id porta nibh venenatis. Augue ut lectus arcu bibendum 
                at. Consectetur a erat nam at lectus urna duis convallis convallis. Commodo 
                nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Fames ac turpis 
                egestas sed tempus. Rhoncus est pellentesque elit ullamcorper dignissim. Lacus 
                laoreet non curabitur gravida arcu ac tortor dignissim. Lectus mauris ultrices 
                eros in cursus turpis massa. Eros donec ac odio tempor orci dapibus. Morbi leo 
                urna molestie at elementum. Risus quis varius quam quisque. Bibendum arcu vitae
                elementum curabitur vitae nunc sed. Pharetra massa massa ultricies mi quis 
                hendrerit dolor magna. In massa tempor nec feugiat nisl pretium fusce.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="../../assets/InternationalHouse.jpeg">
        </div>
        <div class="col">
            <img src="../../assets/InternationalHouse2.jpeg">
        </div>
        <div class="col">
            <img src="../../assets/ReceptionHelp.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-xl">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Magna etiam tempor orci eu lobortis 
                elementum nibh. Consequat id porta nibh venenatis. Augue ut lectus arcu bibendum 
                at. Consectetur a erat nam at lectus urna duis convallis convallis. Commodo 
                nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Fames ac turpis 
                egestas sed tempus. Rhoncus est pellentesque elit ullamcorper dignissim. Lacus 
                laoreet non curabitur gravida arcu ac tortor dignissim. Lectus mauris ultrices 
                eros in cursus turpis massa. Eros donec ac odio tempor orci dapibus. Morbi leo 
                urna molestie at elementum. Risus quis varius quam quisque. Bibendum arcu vitae
                elementum curabitur vitae nunc sed. Pharetra massa massa ultricies mi quis 
                hendrerit dolor magna. In massa tempor nec feugiat nisl pretium fusce.
            </p>
        </div>
    </div>
</div>